:root {
    --main-background-color: #FFFFFF;
    --second-background-color: #F5F4FA;
    --hero-color: #2F303A;
    --footer-color: #2F303A;
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --first-text-color: #757575;    
    --second-text-color: #212121;
    --first-button-color: #FFFFFF;
    --second-button-color: #212121;
    --header-text-color: #212121;
    --accent-color: #2196F3;
}
 
body {
    background-color: var(--main-background-color);
    color: var(--first-text-color);
                                       
    font-family: 'Roboto', sans-serif;
}
 
.list {
    list-style: none;
}
 
/* Logo */
 
.logo-word1 {
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
 
.logo-word2 {
    color: var(--black-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
 
/* Header */

.site-nav .link {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
 
.site-nav .link:hover,
 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact-list {
    color: var(--first-text-color);
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-list .link:hover,

.contact-list .link:focus {
    color: var(--accent-color);
}
 
/* Hero */

.hero-title {
    color: var(--main-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
}
 
.hero {
    background-color: var(--hero-color);
}

/* Sections */
 
.section-title {
   color: var(--second-title-color);
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
}
 
/* Features */
 
.feature-title {
    display: none;
}
 
.feature-list {
    list-style: none
}
 
.feature-list .title {
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .about {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
 
/* Team */
 
.section-team {
    background-color: var(--second-background-color);
}
 
.section-team .team-title {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team .occupation{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
 
/* Projects */
 
.section-projects .projects-title {
    display: none;
}
 
.section-projects .examples {
    color: var(--second-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-projects .about-examples {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* Buttons */

.button {
    color: var(--second-button-color);
    background-color: var(--second-background-color);
    border: 0;
    font-family: inherit ;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

button.pointer {
    cursor: pointer;
}

button:hover {
    color: var(--first-button-color);
    background-color: var(--accent-color);
    border: 0;
    font-family: inherit ;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-hero {
    color: var(--first-button-color);
    background-color: var(--accent-color);
    border: 0;
    font-family: inherit ;
    display: inline-block;
    font-size: 16px;
    pointer-events: none;
}

/* Footer */
 
.footer {
    background-color: var(--footer-color);
}
 
.footer-logo-word1 {
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
 
.footer-logo-word2 {
    color: var(--white-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer-list {
    list-style: none;
}

.footer-list1 {
    text-decoration: none;
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-list2 {
    text-decoration: none;
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
